.product_categories
{
    width: 100%;
    height: auto;
    min-height: 50px;
    max-height: 100px;
    position: relative;
    margin-bottom: 0px;
    background: #ff00ff;
    overflow: hidden;
}
.product_categories_div
{
    width: 80%;
    height: 100%;
    margin: auto;
    background: #6ec1e4;
}
.product_categories_li
{
    float: left;
    height: 50px;
    margin-right: 20px;
}
.product_categories_li_font
{
    clear: both;
    width: 100%;
    height: 10px;
    margin-top: 22px;
    line-height: 0px;
    text-align: center;
    color: white;
    font-size: 12px;

}

.product_categories_li_div
{
    width: 0%;
    height: 1px;

    overflow: hidden;
    background: white;
}
.product_blank
{
    width: 100%;
    height: 40px;
}

.product_showArea_Big
{
    min-height: 500px;
    height: auto;
    width: 100%;
    background: red;
}

@media(min-width: 768px) {
.product_showArea
{
    width: 750px;
}
}
@media(min-width: 992px) {
.product_showArea
{
    width: 970px;
}
}

@media (min-width: 1200px)  {
.product_showArea
{
    width: 1170px;
}
}
.product_showArea
{
    margin: auto;
    height: 500px;
    min-height: 500px;
    padding-left: 15px;
    padding-right: 15px;
    background: #007fff;
    position: relative;
}

@media (min-width: 768px) {
.product_showArea_left
{
    width: 35%;
}
}
@media(min-width: 992px) {
.product_showArea_left
{
    width: 35%;
}
}

@media (min-width: 1200px)  {
.product_showArea_left
{
    width: 35%;
}
}
.product_showArea_left
{
    height: 100%;
    background: yellow;
    width: 270px;
    float: left;
}

@media (min-width: 768px) {
.product_showArea_right
{
    width: 100%;
}
}
@media(min-width: 992px) {
.product_showArea_right
{
    width: 100%;
}
}

@media (min-width: 1200px)  {
.product_showArea_right
{
    width: 100%;
}
}
.product_showArea_right
{
    height: 100%;
    background: lightgray;

}


.product_showArea_search
{
    width: 100%;
    height: 40px ;
    background: greenyellow;
    margin-bottom: 60px;
}
.product_showArea_categories
{
    width: 100%;
    height: 26px;
    font-weight: bold;
    color: #1B1919;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
    margin-bottom: 25px;
}
.product_showArea_categories span
{
    border-bottom: 2px solid #7a7a7a;
}

.product_showArea_categories_ul_li
{
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
    background: yellow;

}
.product_showArea_categories_ul_li_span
{
    font-size: 15px;
    color: #bbb;
    float: left;
}

.product_showArea_categories_ul_li .badge
{
    font-size: 12px;
    color: #bbb;
    height: 10px;
    float: left;
}
.product_showArea_categories_ul_li_arrow
{
    float: right;
    height: 20px;
    margin-right: 15px;
}
.product_showArea_categories_ul_li_arrow img
{
    width: 14px;
    height: 14px;

}


