
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;

}
li
{
    list-style: none;
}
@font-face {
    font-family: 'Ja1';
    src: url('../imageSrc/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2') format('woff2');
    font-style: normal;
    font-style: normal;

}

.container
{
    width: 95%;
    height: 85px;
}

.topwrapper
{
    width: 100%;
    height: 42px;
    background-color: #ff00ff;
    position:  relative;
}
.tabContent
{
    color: rgba(255, 255, 255, 0.9);
    font-family: Ja1;
    line-height: 42px;
    margin-left: 50px;
    font-size: 10px;
}
.loggoWrapper
{
    width: 50%;
    height: 85px;
    margin-left: 50px;
    float: left;
}
.loggoWrapper img
{
    padding-bottom: 10px;
    max-width:179px ;
    padding-top: 10px;
    height: 65px;
}
.widgetarea-head
{
    width: 15%;
    height: 85px;
    background-color: rgba(255,255,255,0);
    float: left;
}
.right-columm
{
    width: 15%;
    height: 85px;
    float: right;

}

.searchIcon
{
    width: 32px;
    height: 30px;
    background-color: #003eff;
    position:relative;
    left: 100%;
    top:50%;
    margin-left: -32px;
    margin-top: -15px;
}
.navigation-wrap
{
    width: 100%;
    height: 52px;
    border-bottom: 1px solid  rgba(168, 168, 168, 0.2);
    border-top: 1px solid rgba(168, 168, 168, 0.2);

}
.menu-main-container
{
    list-style: none;
    position: relative;
    left: 45px;

}
.menu-main-container li
{
    color: rgba(0, 0, 0, 0.8);
    float: left;
    line-height: 50px;

}
.menu-main-container li div
{
    margin-left: 15px;
    margin-right: 15px;

}
.divhasArrow
{
    background-image: url("../imageSrc/chevron-down@2x.png");
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

.subMenu-dropdown
{

    position: absolute;
    display: none;

    left: 70px;
    width: 180px;
    margin-top: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    z-index: 300;
    background: white;
    font-size: 10px;
    border: 1px solid  rgba(168, 168, 168, 0.2);



}

.sub-menu
{
    list-style: none;
    text-align: left;


}
.sub-menu li
{
    color: rgba(0, 0, 0, 0.8);
    width: 180px;
    height: 50px ;
    float: left;
}
.pageContainer
{
    width: 100%;
    height: 385px;
    overflow: hidden;
    position: relative;
}
.containerbox
{
    float: left;
}

.elementor-widget-container
{
    width: 90%;
    height: 52px;
    margin: auto;
    position: inherit;

}
.left-line
{
    height: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
    min-width: 200px;
    width:25%;
    float: left;
    display: inline;

}
.right-line
{

    height: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
    width:25%;
    min-width: 200px;
    float: right;
    display: inline;

}
.colorline
{

    background: #cccccc;

}
.middle-content
{
    float:left;
    width: 30%;
    min-width: 400px;
    height: 52px;
    margin-left:50px ;
    margin-right: 50px;
    display: inline;

}
.middle-content h1
{
    font-size: 25px;
    color: #cccccc;
    line-height: 52px;
    text-align: center;

}

.productSection
{
    height: 412px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background: white;
}
.signalproduct
{
    width: 265px;
    height: 392px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: white;
    float: left;
}

.productimg
{
    width: 265px;
    height: 265px;
    background: white;


}
.productimg img
{
    width: 243px;
    height: 243px;
    position: relative;
    left: 50%;
    top:50%;
    margin-left: -121.5px;
    margin-top: -121.5px;
    cursor: pointer;

}

.description_product
{
    width: 265px;
    height: 143px;
}
.description_product h3
{
    width: 265px;
    height: 30px;
    background: white;
    padding-left: 10px;
    margin-top: 10px;
}
.description_product_a
{
    cursor: pointer;
    color:  #6ec1e4;
    font-size:22px ;
    text-decoration: none;
    font-family: "Roboto", Sans-serif;
}
.description_product_p
{
    width: 265px;
    padding-left: 10px;
    padding-top: 15px;
    overflow: hidden;
    font-family: "Roboto", Sans-serif;
    color: #7a7a7a;
    font-size: 13px;
    line-height: 1.5;

}

.company_container
{
    width: 92%;
    height: 332px;
    background: #ff00ff;
    text-align: center;
    margin-left: 4%;
    position: relative;
}
.company_description
{
    margin-top: 0px;
    width:50%;
    height: 100%;
    background: lime;
    float: left;
}
.company_picture
{
    width:50%;
    height: 100%;
    background: lightgrey;
    float: right;
}